doctype html

mixin multiple-choice(question, index)
	- const group = `multiple-choice-${index}`;
	div.question.multiple-choice(role="group")
		legend!= question.question
		each answer, index in question.answer
			- const text    = typeof answer === "string" ? answer : answer._;
			- const correct = !!answer.attr?.correct;
			- const id      = `${group}-answer-${index}`;
			input(type="radio", id=id, name=group, autocomplete="off")
			label(for=id, class=correct ? "correct" : "")= text

mixin short-answer(question, index)
	- const id      = `short-answer-${index}`;
	- const pattern = question.attr["answer-pattern"];
	div.question(role="group")
		legend(for=id)!= question._
		input.short-answer(type="text", id=id, name=id, placeholder="Write your answer here", pattern=pattern, required, autocomplete="off")
		span.short-answer-correct= `Correct answer: ${pattern}`

html(lang=quiz.attr.lang)
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= quiz.attr.title
		style!= styleRules
	body
		header
			h1= quiz.attr.title
			if quiz.attr.subtitle
				h3= quiz.attr.subtitle
		main(role="form")
			input#reveal-answers.offscreen(
				type="checkbox",
				name="reveal-answers",
				autocomplete="off",
				tabindex="-1"
			)
			ol#questions
				each question, index in quiz.children
					if question["#name"] === "multiple-choice"
						li
							+ multiple-choice(question, index)
					else if question["#name"] === "short-answer"
						li
							+ short-answer(question, index)
			div#score
				| Score: 
				span#correct-count
				|  / #{quiz.children.length}
			div
				label#submit(
					for="reveal-answers",
					role="button",
					tabindex="0",
				) Submit
			div#bakk-to-top
				a(href="#") Back to top
			footer
				| Created with â¤ï¸ using 
				a(href="https://github.com/startrekdude/taoquiz") Taoquiz
			script.
				//- Follow button WAI-ARIA
				//- https://www.w3.org/TR/wai-aria-practices-1.2/#button
				document.getElementById('submit').onkeydown = e => {
					if (e.key === " " || e.key === "Enter") e.target.click()
				}